@use "../../../styles/variables" as *;

.section-title {
  margin-bottom: 60px;

  span {
    display: inline-block;
    color: $primary-color;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 0.9rem;
    margin-bottom: 12px;
  }

  h2 {
    font-size: clamp(2.5rem, 4vw, 4.5rem);
    line-height: 1.1;
    max-width: 800px;
  }

  &.center {
    text-align: center;

    h2 {
      margin-inline: auto;
    }
  }
}